<div class="container-fluid darkGrey pagetitle">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h1 class="title">Про нас</h1>
					</div>
					<div class="col-sm-6 breadcrmbs">
				  		<a href="#">Головна /</a>
				  		<a href="#" class="active">Про нас</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<br>
				<div class="col-sm-6">
					<%= image_tag("intro1.jpg", class: "img-responsive") %>
					<h4>ЧОМУ CАМЕ МИ?</h4>
					<p class="text">
						Вітчизняний виробник хімічної продукції фірма ЛІАКОР в своїй діяльності використовує філософію міжнародної програми Responsible Care, що дослівно
						переводиться як "відповідальна турбота " і являє собою міжнародну добровільну ініціативу хімічної промисловості всього світу, спрямовану на неухильне поліпшення показників в галузі охорони навколишнього середовища, здоров'я та безпеки праці.
					</p>
				</div>
				<div class="col-sm-6">
					<%= image_tag("intro.jpg", class: "img-responsive") %>
					<h4>ВСЕ, ЩО ВИ МАЄТЕ ЗНАТИ ПРО НАС</h4>
					<p class="text">
						Раціональне використання і відтворення природних ресурсів, моделювання і розробка власної сировинної бази, застосування світових технологій знайшло втілення в матеріалах, які ми випускаємо під власними торговими марками CONWISOL і LIAKOR.
					</p>
				</div>
			</div>
		</div>
		<br>