<div class="container-fluid">
	<div class="row" id="slider">
		<h2>Liakor<br>
			<small>Ми працюємо для вас</small></h2>
	</div>
</div>

<div class="container-fluid grey">
			<div class="container">
				<div id="intro" class="row">
					<div class="col-sm-4">
						<%= image_tag("conwisol/4.png", class: "img-responsive") %>
						<h4>Добавки до бетонів та будівельних розчинів <b>Conwisol</b></h4>
						<p>As the general contractor, we first create the highest level of trust and integrity with our clients. We value our role in the success of your project.</p>
					</div>
					<div class="col-sm-4">
						<%= image_tag("intro1.jpg", class: "img-responsive") %>
						<h4>Будівельна хімія <b>Liakor</b></h4>
						<p>Constructor explains how you can enjoy high end flooring trends like textured wood and realistic stones with new laminate flooring.</p>
					</div>
					<div class="col-sm-4">
						<%= image_tag("conwisol/2.png", class: "img-responsive") %>
						<h4>Про компанію</h4>
						<p>Green construction refers to a structure and using process that is environmentally responsible and resource-efficient throughout a building's life-cycle.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid darkGrey about">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>Про нас</h1>
					</div>

				<div class="col-sm-7">
					<p>
						Вітчизняний виробник хімічної продукції фірма ЛІАКОР в своїй діяльності використовує філософію міжнародної програми Responsible Care, що дослівно
						переводиться як "відповідальна турбота " і являє собою міжнародну добровільну ініціативу хімічної промисловості всього світу, спрямовану на неухильне поліпшення показників в галузі охорони навколишнього середовища, здоров'я та безпеки праці.
						<br><br>
						Раціональне використання і відтворення природних ресурсів, моделювання і розробка власної сировинної бази, застосування світових технологій знайшло втілення в матеріалах, які ми випускаємо під власними торговими марками CONWISOL і LIAKOR
					</p>
				</div>
				<div class="col-sm-5">
					<%= image_tag("about.jpg", class: "img-responsive") %>
				</div>
				</div>
			</div>
		</div>
		<div class="map">
			<iframe frameborder="0" style="border:0" width="100%" height="500"
  			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVmkStWyMJMRilz0kPQXuPj6JMZDWkUJQ&q=Space+Needle,Seattle+WA" allowfullscreen>
			</iframe>
			<div class="container">
				<div class="row contact">
					<div class="col-sm-7">
					</div>
					<div class="col-sm-5">
						<form id="contact" class="contact">
							<h2>Є питання? Напишіть нам</h2>
							<input type="text" placeholder="Ім'я" class="form-control">
							<input type="email" placeholder="Email" class="form-control">
							<input type="phone" placeholder="Тел" class="form-control">
							<textarea type="text" placeholder="" class="form-control">
							</textarea>

							<input type="submit" value="Відправити" class="btn orangeBg">
						</form>
					</div>
				</div>
			</div>
		</div>